# Dependencias
node_modules/
*/node_modules/

# Entorno y variables secretas
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env
*.env.*
!.env.example

# Compilación y builds
dist/
dist-ssr/
build/
out/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Cobertura y testing
coverage/
*.lcov
.nyc_output/

# Cache de herramientas
.eslintcache
.stylelintcache
*.tsbuildinfo

# Editores e IDEs
.vscode/
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Archivos del Sistema Operativo
.DS_Store
.DS_Store?
._*
[Tt]humbs.db
[Ee]hthumbs.db